<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <header>

    <nav>
      <div class="nav-wrapper #00897b teal darken-1">
        <a href="#" class="brand-logo">MyTech</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a>Minhas tecnologias</a></li>
        </ul>
      </div>
    </nav>

  </header>

  <br>

  <main>
    <div class="container">
      <app-minhas-tecnologias></app-minhas-tecnologias>
    </div>
  </main>
  

  <footer class="page-footer #00897b teal darken-1">

    <div class="footer-copyright">
      <div class="container">
      © 2020 MyTech Copyright
      <a class="grey-text text-lighten-4 right" href="#!">Versão Beta</a>
      </div>
    </div>

  </footer>
</body>
</html>